<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/public/javascripts/echarts.min.js"></script>
	</head>
	<body>

    <div id="distanceChart" style="width: 100%;height:500px;"></div>

    <script>

        var result = JSON.parse(JSON.stringify('<%- healthDataList %>'))

        var time = [];
        var distance = [];

        var data_count = result.length;

        for(var i=data_count-1; i>=data_count-7; i--){
          time.push(result[i].uploadTime);
          distance.push(result[i].distance);
        }

        var myChart = echarts.init(document.getElementById('distanceChart'));

        option = {
            xAxis: {
                type: '日期',
                data: time
            },
            yAxis: {
                type: '步数'
            },
            series: [{
                data: distance,
                type: 'line'
            }]
        };

        myChart.setOption(option);

    </script>
	</body>
</html>
